html, body {
  height: 100%;
  margin: 0;
  margin-top: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #150929;
}

.App-header {
  background-color: #150929;
  color: #833fe9;
  display: flex;
  align-items:center;
  justify-content: center;  
}

.site {
  font-size: 35px;
position: absolute;
left: 44%;
top: 40.7%;
}

.back {
  max-width: 700px;
  height: auto;
  position: relative;  
  transform: translate(-20%, 10%);
  z-index: 0;
  opacity: 50%;
}

.nums {
  color: #833fe9;
  font-size: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* changed from center to flex-start */
}

.wallet-input {
  height: 50px;
  width: 450px;
  margin-right: 5px; /* added margin-right to create space between input and button */
  font-size: 16px;
  border: solid #833fe9;
  border-radius: 5px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.show-rewards-button {
  
  box-shadow: 2px 2px 2px 1px #2f0b73;
  background-color: transparent;
  border-radius: 14px;
  border: 3px solid #833fe9;
  cursor: pointer;
  color: #833fe9;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding: 16px 14px;
  text-decoration: none;
  text-shadow: 1px 2px 0px #300b73;
  z-index: 2;
  top: -1px;
  margin-left: 10px; /* added margin-left to position it to the left */
}

.show-rewards-button:hover {
  background-color: #340e6e;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.connect-button {
  width: 175px;
  height: 60px;
  box-shadow: 2px 2px 2px 1px #2f0b73;
  background-color: transparent;
  border-radius: 14px;
  border: 3px solid #833fe9;
  cursor: pointer;
  color: #833fe9;
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left:31%;
 
  z-index: 3;
}

.connect-button:hover {
  background-color: #340e6e;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  line-height: 2;
  z-index: 2;
  height: 100%;
}

@media only screen and (max-width: 1023px) {
  .site {
    font-size: 25px;
    left: 50%;
    top: 35%;
  }

  .back {
    max-width: 90%;
    transform: translate(-50%, 5%);
    background-image: url('head-small.png'), url('pg-small.png');
    background-repeat: no-repeat;
    background-position: 0 0, 100% 100%;
    background-size: 50%, 40%;
  }

  .container {
    margin: 0 20px;
  }

  .wallet-input {
    width: 100%;
    margin-right: 0;
  }

  .show-rewards-button {
    margin-left: 0;
  }

  .connect-button {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
   
  }
}

@media only screen and (min-width: 1024px) {
  .site {
    font-size: 35px;
    left: 44%;
    top: 40.7%;
  }

  .back {
    transform: translate(-20%, 10%);
  }

  .wallet-input {
    width: 450px;
    margin-right: 5px;
  }

  .show-rewards-button {
    margin-left: 10px;
  }

  .connect-button {
    width: 175px;
    left: 31%;
    transform: none;
  }
}



